.flex {
  display: flex;
  justify-content: space-between;
}

.dflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.single-card {
  display: flex;
  box-shadow: 0 0 15px silver;
  flex-basis: 45%;
}

.card-image {
  height: 120px;
  /* max-width: 120px; */
  width: 30%;
  border-radius: 25%;
}

/* for the button on which user donwload the resume */

.button {
  /*  
  position: absolute;
  width: 500px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* for hovering effects when user hover on resue card */
.head:hover .overlay {
  display: block;
  background: rgba(244, 12, 12, 0.3);

  box-shadow: 0 0 2px 5px rgb(50, 3, 3);
  transition: ease-in-out 0.2s;


}

/* for center the download button */
.head:hover .button {
  opacity: 1;

  /* position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%); */

}

body {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #d8cbbc);
}

.ok {
  background-color: ghostwhite;
}

::placeholder {
  font-size: 13px;
  color: #333;
  text-align: center;

}

.flex3 {
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: 12px;
}

.font-weight {
  font-size: 15px;
  font-weight: 600;
  color: black;

}

.flex1 {
  display: flex;
  justify-content: space-evenly;
}

.nav a {
  text-decoration: none;
  font-size: 18px;
  margin: 10px;
  color: black;
  padding: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500px;

}

.nav a.active {
  font-size: 20px;
  font-weight: bold;
  color: #f70a0a;
  text-decoration: underline;
}

.img {
  height: 300px;
  max-width: 50%;
  float: right;
  border-radius: 10px;

}


.blurs {
  backdrop-filter: blur(10px);
}

/* this is just for what css we are going to show when users click on submmit */
.message {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
  margin-top: 25px;
  font-size: 1rem;

}

.text {
  display: flex;
  justify-content: flex-start;
}

/* when user click on submit it will add class active and here we basically blur the container ..when class is active */
.container #blur.active {
  filter: blur(18px);
}

.end {
  position: relative;
  top: 200px;
}

.facebook:hover {
  transition: 0.5s;
  transform: scale(1.3);
  box-shadow: 0 0 4px white;
}

.whatsapp:hover {
  transition: 0.5s;
  transform: scale(1.3);
  box-shadow: 0 0 4px white;
}

.linkdin:hover {
  transition: 0.5s;
  transform: scale(1.3);
  box-shadow: 0 0 4px white;
}

.twitter:hover {
  transition: 0.5s;
  transform: scale(1.3);
  box-shadow: 0 0 4px white;
}

.image-display {
  height: 100px;
  width: 120px;
  border-radius: 50px;
  margin-top: 3px;
}

.position {
  position: relative;
  left: 22px;
}

/* this is for prev button. */
.prevbtn {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.5em 2em;
  border-radius: 1px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

/* for next button */
.nextbtn {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #f70a0a, #c44569);
  padding: 0.5em 2em;
  border-radius: 1px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

/* these are media querry for adaptive screen */
@media only screen and (min-width: 90px) and (max-width: 319px) {
  .center {
    text-align: center;
  }

  .pp {
    position: relative;
    right: 20px;
  }

  .img {
    position: relative;
    right: 20px;
  }
}



@media only screen and (min-width: 320px) and (max-width: 480px) {
  .center {
    text-align: center;
  }

  p {
    font-size: 22px;
    color: black;
  }

  .img {
    position: relative;
    right: 50px;
  }

  .position {
    position: relative;
    left: 0px;
  }

  .layout {
    flex-basis: 80vw;
  }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .position {
    position: relative;
    left: 0px;
  }

  .layout {
    flex-basis: 80vw;
  }
}



@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .position {
    position: relative;
    left: 16px;
  }

  .layout {
    flex-basis: 80vw;
  }
}



@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .position {
    position: relative;
    left: 16px;
  }

  .layout {
    flex-basis: 80vw;
  }
}